<h2>Data select component:</h2>

<!--<pre>
  {{ lids | json }}
  {{ keys }}
</pre>-->

<md-grid-list gutter="1em" cols="6" md-cols-sm="2" 
              md-cols-mid="4" md-cols-lg="6" 
              md-cols-gt-lg="12">
  
<md-grid-tile *ngFor="let l of lids">
      <md-grid-tile-header>
        <h2>{{ l.name }}</h2>
      </md-grid-tile-header>
    
    <img src="{{ l.image[0] }}">

      <md-grid-tile-footer>
        <a href="{{ l.detail_url }}">
          SHARP details page
        </a>
      </md-grid-tile-footer>
  </md-grid-tile>

</md-grid-list>
